site_name: My Docs
theme:
  name: material
plugins:
  - with-pdf:
      cover: true
      cover_title: My Docs
markdown_extensions:
  - plantuml_markdown:
      server: !ENV [PLANTUML_URL, 'http://localhost:5555']
      format: svg
